/* common settings */
body {
  min-width: 300px;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  font-size: 14px;
  color: #031b4e;
}

.bg_grey{
  background-color: #eee;
  text-align: center;
}

.padding_top_bottom_60 {
  padding: 60px 0;
}
/* end common settings */

/* header */
/* inizio header_top */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0;
  z-index: 3;
}

.header_top .row {
  line-height: 60px;
}

.header_top .logo_big{
  height: 44px;
}

.header_top .logo_big img{
  height: 80%;
}

.header_top ul {
  margin-bottom: 0;
}

.header_top li {
  display: inline-block;
}

.header_top .left_nav a,
.header_top .right_nav a {
  margin-left: 24px;
  font-weight: 700;
}

.header_top .left_nav a:active,
.header_top .left_nav a:focus,
.header_top .left_nav a:hover,
.header_top .right_nav a:active,
.header_top .right_nav a:focus,
.header_top .right_nav a:hover {
  margin-left: 24px;
  text-decoration: none;
  color: #0069ff;
}

.header_top a:active span,
.header_top a:focus span,
.header_top a:hover span {
  color: #031b4e;
}


.header_top .right_nav {
  text-align: right;
}

.header_top .btn_sign_up {
  border: 1px solid #0069ff;
  color: #0069ff;
}

.header_top .right_nav .btn_sign_up:active,
.header_top .right_nav .btn_sign_up:focus,
.header_top .right_nav .btn_sign_up:hover {
  background-color: #0069ff;
  color: #ffffff;
}

.header_top .btn_hamburger {
  text-align: right;
}
/* fine header-top */
/* inizio header-bottom */
.header_bottom{
  background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header_bottom .box_header_bottom{
  margin: 60px 0;
}

.header_bottom .jumbotron_text {
  margin: 30px 0;
}

.header_bottom .jumbotron_text h1{
  color: #fff;
  font-size: 45px;
}

.header_bottom .jumbotron_text p {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

.header_bottom .box_login .form-group{
  margin-bottom: 0;
}

.header_bottom .box_login{
  padding: 20px 20px;
  border-radius: 2%;
  background-color: #ffffff;
  text-align: center;
}

.header_bottom .box_login h2{
  font-size: 30px;
  font-weight: 700;
}

.header_bottom .box_login h2:nth-child(2) {
  color: #0069ff;
}

.header_bottom .btn_create{
  margin: 10px 0 10px 0;
  width: 100%;
  background-color: #0069ff;
  color: #fff;
}

.header_bottom .btn_create:active,
.header_bottom .btn_create:focus,
.header_bottom .btn_create:hover {
  background-color: #1633ff;
}

.header_bottom .btn_google{
  position: relative;
  width: 100%;
  border: 1px solid black;
}

.header_bottom .btn_google img{
  position: absolute;
  top: 15%;
  left: 5%;
  transform: translate(-50%);
  height: 20px;
}

.header_bottom .box_login p,
.header_bottom .box_login a {
  font-size: 12px;
}

.header_bottom .box_login p {
  margin-top: 15px;
}

.header_bottom .box_login p a{
  text-decoration: underline;
  color: #0069ff;
}
/* fine header-bottom */
/* end header */

/* main */
/* inzio customer */
.customers {
  text-align: center;
}

.customers h2 {
  font-size: 14px;
  color: rgba(3,27,78,.7);
  text-transform: uppercase;
}

.customers .list_img li {
  display: inline-block;
  width: calc(100% / 2 - 30px);
  min-width: 240px;
  margin: 0 10px;
  padding: 20px;
}

.customers .list_img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .customers .list_img li {
    width: calc(100% / 6 - 30px);
    min-width: unset;
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .customers .list_img li {
    width: calc(100% / 6 - 30px);
    min-width: unset;
    padding: 0;
  }
}

.customers a {
  font-size: 16px;
  color: #0069ff;
}
/* fine customer */
/* inizio deploy */
.deploy .deploy-text{
  text-align: center;
}

.deploy .container_extra {
  margin: 30px 50px 0 150px;
}

.deploy .box_deploy {
  margin-top: 10px;
}

.deploy ul{
  border-left: 1px solid black;
  padding-left: 8px;
}

.deploy li {
  padding: 10px 0;
}
/* fine deploy */
/* inizio design */
.design {
  text-align: center;
}

.design .box_img::before{
  content: '<';
  font-weight: 900;
  font-size: 40px;
}

.design .box_img::after{
  content: '>';
  font-weight: 900;
  font-size: 40px;
}

.design img{
  width: 60%;
  margin: 40px 20px 20px 20px ;
}

.design .dots li{
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #0069ff;
  border-radius: 50%;
}

.design .dots li:first-child{
  background-color: #0069ff;
}

.design .dots li:hover{
  cursor: pointer;
  background-color: #0069ff;
}
/* fine design */
